// FONTS
$rubik: 'Rubik', sans-serif;

//COLORS
$almost_black: #333333;
$darker_gray: #888888;
$orange: #f8b200;
$blue: #346df1;
$dark_blue: #0c1c60;
$gray: #cccccc;
$white: white;
$black: black;
$lighter_white: #ecf4ff;

//MEDIA

$mobile: 420px;
$tablet: 768px;
$desktop: 1024px;
$desktop_large: 1440px;
